body,
header {
  margin: 0;
}
li {
  list-style: none;
}
ul {
  margin: 0;
}
header {
  width: 1050px;
  margin: 0 auto;
}
#logo_wrap {
  text-align: center;
}
#logo_wrap img {
  width: 103px;
  height: 79px;
}
#header_wrap {
  position: relative;
}
#header_img {
  position: absolute;
  top: 0;
  margin: 16px;
}
#header_img img {
  width: 121px;
  height: 22px;
}
#user_menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}
#user_menu li {
  padding: 10px;
  font-size: 12px;
  text-decoration: none solid rgb(51, 51, 51);
  line-height: 35px;
}
.join::after {
  position: absolute;
  content: '';
  top: 20px;
  right: 111px;
  width: 1px;
  height: 12px;
  background-color: #d8d8d8;
}
.login::after {
  position: absolute;
  content: '';
  top: 20px;
  right: 60px;
  width: 1px;
  height: 12px;
  background-color: #d8d8d8;
}
/* nav 구현 */
.sticky_on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 999;
}

#nav_container_wrap {
  display: flex;
  width: 1050px;
  margin: 0 auto;
}
.nav_img_wrap {
  padding-top: 10px;
}
#nav_wrap {
  display: flex;
  height: 56px;
  margin: 0 auto;
  padding-left: 0px;
}
#nav_wrap li {
  font-size: 16px;
  padding: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #4c4c4c;
}
.category img {
  padding-right: 10px;
}
#category_wrap {
  position: absolute;
  font-size: 14px;
  width: 219px;
  left: 220px;
  z-index: 300;
  display: none;
}
#category_wrap ul li {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  border: 1px solid #f7f7f6;
}
.category_icon {
  padding-right: 8px;
}
#nav_input_wrap {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  width: 242px;
  padding-right: 50px;
  margin-left: 0px;
}
.nav_input {
  width: 200px;
  height: 36px;
  padding: 0 60px 0 14px;
  border: 1px solid #f7f7f6;
  border-radius: 16px;
}
.nav_img_list {
  padding-right: 15px;
}
#search_btn img {
  position: absolute;
  top: 14px;
  right: 28px;
  width: 30px;
  height: 30px;
}
.location_icon {
  position: absolute;
  margin-left: 8px;
}

/* image 슬라이더 구현  */
#slider_wrap {
  position: relative;
  text-align: center;
  border: 1px solid #f7f7f7;
  padding-bottom: 120px;
}
#slider_wrap #slider .slide {
  display: none;
}
#slider_wrap #slider .active {
  display: block;
}

#slider_wrap #slider .slide img {
  width: 100%;
  height: 370px;
}

.right_arrow {
  position: absolute;
  top: 150px;
  right: 250px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url('https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_banner_right_52_52.svg');
  cursor: pointer;
}
.left_arrow {
  position: absolute;
  top: 150px;
  left: 250px;
  background-color: transparent;
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_banner_left_52_52.svg);
  border: none;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
#slide_count {
  background-color: rgba(0, 0, 0, 0.15);
  font-weight: 400;
  height: 24px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 320px;
  right: 250px;
}

/* section */
section {
  position: relative;
  width: 1050px;
  margin: 0 auto;
  margin-top: 70px;
}
.section_left_btn {
  position: absolute;
  z-index: 300;
  left: -20px;
  top: 170px;
  display: none;
}
.section_right_btn {
  position: absolute;
  z-index: 300;
  right: -10px;
  top: 170px;
}
section .gallery_wrap .gallery {
  display: none;
}
section .gallery_wrap .galleryOn {
  display: flex;
}

.section_items {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.section_items img {
  width: 249px;
  height: 320px;
  transition: 0.3s;
}
.section_img_wrap {
  width: 240px;
  height: 320px;
  overflow: hidden;
}
.section_items img:hover {
  transform: scale(1.1);
}
.cart_btn {
  position: absolute;
  top: 260px;
  left: 190px;
  z-index: 400;
}
.cart_btn img {
  width: 45px;
  height: 45px;
}

/* footer */
footer {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  margin-top: 40px;
}
#footer_copyright {
  font-size: 10px;
  color: #999999;
  text-align: center;
  width: 100%;
  background-color: #f7f7f7;
}
.center_h2 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  width: 534px;
  padding-left: 20px;
  margin-top: 0px;
}
#kurly_introduce_container {
  display: flex;
  padding-bottom: 20px;
  padding-left: 0px;
}
#kurly_introduce_container li {
  font-size: 14px;
  padding-right: 14px;
}
.footer_p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999999;
  font-size: 12px;
  padding-bottom: 6px;
}
.font_change {
  color: #5f0080;
}
#call_wrap {
  display: flex;
}
.time,
.email {
  margin-top: 0px;
  color: #999;
  font-size: 14px;
}
.email {
  margin-top: 26px;
}
.customer {
  margin-bottom: 0px;
  font-size: 14px;
}
.call {
  font-size: 24px;
}
.call_title_wrap,
.kakao_title_wrap,
.question_title_wrap,
.order_title_wrap {
  width: 140px;
  height: 40px;
  text-align: center;
}
#right_call_wrap {
  padding-left: 14px;
}
.kakao {
  height: 30px;
  border: 1px solid #e3e3e3;
  padding-top: 7px;
  border-radius: 3px;
  font-weight: 700;
  color: #333;
  line-height: 22px;
  font-size: 14px;
}
#img_link_wrap {
  display: flex;
  padding-left: 0px;
  margin-top: 40px;
}
#img_link_wrap li {
  padding-right: 9px;
}
#img_link_wrap li img {
  width: 30px;
  height: 30px;
}
#footer_link_wrap {
  width: 1050px;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
}
.footer_link img {
  width: 34px;
  height: 34px;
}
.footer_link {
  display: flex;
  margin-right: 40px;
}
.footer_link_img_wrap {
  /* text-align: center; */
  margin-top: 11px;
  margin-right: 8px;
}
.expire_day {
  font-size: 12px;
  color: #999;
}
#qnb_wrap {
  position: absolute;
  width: 80px;
  height: 215px;
  top: 400px;
  right: 10px;
}
.qnb img {
  width: 80px;
  height: 120px;
}
.qnb_items {
  color: #333;
  font-size: 12px;
  border: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
}
